.Header{
    display:flex;
    justify-content: space-between;             //this makes it all in place
    border-bottom: 1px solid black;
    padding:1rem;
    background-color:whitesmoke;
    align-content: center;
    &_logo{
        color:black;
    }
    &_links{
        color:white;
        list-style: none;
        display:flex;
        &_link{
                margin-right:1rem;
                align-self: center;
        }
    }
}