*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:100.5%;
}
body{
    box-sizing:border-box;
    padding:3rem;
    height:auto;
    background-image: linear-gradient(to right bottom,rgba(#91cefa,0.8),rgba(#4a8cbd,0.8));
    background-repeat: none;
    
}
.App{
    max-width:120rem;
    margin:3rem auto;
    -webkit-box-shadow: 10px 17px 34px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 17px 34px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 17px 34px -9px rgba(0,0,0,0.75);
    min-height:50rem;  
}
